.carousel {
  position: relative;
  top: 40px;
}
.fixed-top-menu {
  position: absolute;
  top: 0;
  z-index: 1;
  color: white;
}
.carousel-item {
  width: 100%;
  height: calc(100vh - 40px);
  background-position: bottom;
  background-size: cover;
}
