.test {
  /*display: none;*/
  position: absolute;
  width: 100%;
}
.carousel {
  position: relative;
  top: 40px;
}
.bottom-carousel {
  height: 200px;
  background-color: rgba(0,0,0,0.1);
}
.fixed-top-menu {
  position: absolute;
  top: 0;
  z-index: 1;
  color: white;
}
.carousel-item {
  width: 100%;
  height: calc(100vh - 40px);
  background-position: bottom;
  background-size: cover;
}

.main-page {
  background-color: #252a2c;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
#special-offer {
  margin-bottom: auto;
}
